@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(6deg); }
  95% { transform: rotate(-6deg); }
  100% { transform: rotate(0deg); }
}

@font-face {
  font-family: 'Pokemon';
  src: url(./fonts/PokemonGb.ttf);
}

p {
  padding: 0px;
  cursor: pointer;
  padding-bottom: 5px;
  margin: 0px;
}

li {
  list-style-type: none;;
  padding-left: 12px;
  padding-top: 5px;
  margin: 0;
}

li:hover {
  list-style-type: "▶";
  font-size: 15px;
  padding-left: 0px;
}

button {
  font-family: Pokemon;
  background: white;
  border: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#root{
  height: 100%;
  width: 100%;
}

#pokemon-image{
  position: relative;
  top: 33%;
  left: 12%;
  width: 33%;
  transition: filter .5s ease-out;
}

.hidden{
  filter: brightness(0);
}

.visible{
  filter: none;
}

p, .inputButtonContainer {
  font-family: Pokemon;
  padding: 10px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
  border-radius: 5px;
 }

 .inputContainer {
  width: 600px;
 }

.pokemonGuesserContainer {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 600px;
  height: 34vh;
  display: flex;
  flex-direction: column;
  font-family: Pokemon;
  background-image: url(./images/pokemon-bg.jpg);
}

.pokemonGuesserButton{
  position: relative;
  top: 35%;
  left: 15%;
  width: 23%;
  animation: wiggle 1.00s infinite;
}

.inputButtonContainer{
  margin: 0px;
  position: relative;
}

@media (max-width: 600px) {
  .pokemonGuesserContainer {
    width: 100%;
    height: 26vh;
  }

  .inputContainer{
    width: 100%;
  }

  #pokemon-image{
    top: 25%;
  }
}